@page
@model Auth0PoC.Pages.Secret

@{
    ViewData["Title"] = "Secret Page";
}

<h1>Secret Page</h1>

@foreach (var claim in @User.Claims)
{
    <p>@claim.Type</p>
    <p>@claim.Value</p>
    <br/>
}

<p></p>